{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Carousel -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class=" container-fluid carousel-item active">
        <img class="d-block w-100" src="{% static 'images/egg.jpeg' %}" alt="First slide" height="auto" >
      </div>
      <div class="container-fluid carousel-item">
        <img class="d-block w-100" src="{% static 'images/food2.jpeg' %}" alt="Second slide" height="auto">
      </div>
      <div class="container-fluid carousel-item">
        <img class="d-block w-100" src="{% static 'images/food3.jpeg' %}" alt="Third slide" height="auto">
      </div>
    </div>
  </div>

  <!-- Preview information about service -->

{%endblock%}