body{
  background-color: beige;
}

.banner{
  margin: auto;
  width: 50%;
  padding: 10px;
}

a{
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 15px;
  padding-bottom: 5px;
}

a {

  text-decoration: none;
}

.fa-brands {
  font-size: 2em;
  color: #4CBB17;
}

a:hover {
  color: #ced4da;
}

.footer {
  background-color: #e9ecef;
  padding: 20px 0;
  text-align: center;
}

.food-item img {
  width: 100%;
  height: auto;
}

.carousel-item img {
    max-height: 600px;
    /* Set your desired max height */
    width: 100%;
    object-position: center;
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
}

.equal-card {
    height: 500px;
    /* Set the desired height for the cards */
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.equal-height {
    width: 100%;
    height: 250px;
    /* Set the desired height for the images */
    object-position: center;
    object-fit: cover;
    /* Maintain aspect ratio and crop if necessary */
}



